body {
  background-color: lightblue;
}

.LettersRules {
  position: relative;
  bottom: 370px;
  color: darkblue;
  font-weight: bold;
}
.NumbersRules {
  position: relative;
  bottom: 370px;
  color: darkblue;
  font-weight: bold;
}

.countDownClock {
  position: relative;
  right: 10%;
  left: 70%;
  bottom: 200px;
}

.GameButton {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  letter-spacing: 0px;
  margin: 5px;
  width: 180px;
  padding-left: 3px;
  padding-right: 3px;
}

.GameButtonTwo {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  letter-spacing: 0px;
  margin: 10px;
  width: 265px;
  padding-left: 3px;
  padding-right: 3px;
}

.footerTable {
  font-family: 'futuracondensed_bold';
  font-weight: bold;
  font-size: 75px;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  background-color: darkblue;
  position: fixed;
  right: 12.5%;
  bottom: 0px;
}

h1 {
  font-family: 'futuracondensed_bold';
  letter-spacing: 15px;
  color: white;
  text-align: center;
  background-color: darkblue;
}

#LettersTable {
  font-family: 'futuracondensed_bold';
  font-weight: bold;
  font-size: 95px;
  letter-spacing: 0px;
  color: white;
  text-align: center;
  background-color: darkblue;

  position: fixed;
  width: 70%;
  right: 15%;
  left: 15%;
  bottom: 100px;
  table-layout: fixed;
}

#GameButton {
  text-align: center;
  left: 1%;
  bottom: 120px;
}

table,
th,
td {
  border: 1px solid lightblue;
}

@font-face {
  font-family: 'futuracondensed_bold';
  src: url('fonts/futura_condensed_bold-webfont.woff') format('woff2'),
    url('fonts/futura_condensed_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ds-digitalnormal';
  src: url('/fonts/ds-digi-webfont.woff2') format('woff2'),
    url('/fonts/ds-digi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#NumbersTarget {
  font-family: 'ds-digitalnormal';
  font-weight: bold;
  font-size: 95px;
  letter-spacing: 0px;
  color: yellow;
  text-align: center;
  background-color: black;
  position: fixed;
  width: 20%;
  right: 40%;
  left: 40%;
  bottom: 233px;
}

#NumbersTable {
  font-family: 'futuracondensed_bold';
  font-weight: bold;
  font-size: 95px;
  letter-spacing: 0px;
  color: white;
  text-align: center;
  background-color: darkblue;
  position: fixed;
  width: 70%;
  right: 15%;
  left: 15%;
  bottom: 100px;
  table-layout: fixed;
}
